In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bakery/Bakery.csv

In [2]:
data = pd.read_csv('/kaggle/input/bakery/Bakery.csv')

In [3]:
# List of 500 English personal names
names = [
    "Aaron", "Abigail", "Adam", "Adrian", "Agnes", "Alan", "Albert", "Alfred", "Alice", "Alicia",
    "Alicia", "Allan", "Allison", "Alyssa", "Amanda", "Amber", "Amy", "Andrea", "Andrew", "Angela",
    "Angelina", "Anita", "Ann", "Anna", "Anne", "Annie", "Anthony", "Antonio", "April", "Arthur",
    "Ashley", "Austin", "Barbara", "Barry", "Becky", "Benjamin", "Bernard", "Bernice", "Beth", "Beverly",
    "Bill", "Billy", "Blake", "Bob", "Bobby", "Bonnie", "Brad", "Brandon", "Brenda", "Brendan",
    "Brent", "Brett", "Brian", "Brianna", "Brittany", "Bruce", "Bryan", "Caleb", "Cameron", "Carl",
    "Carla", "Carlos", "Carmen", "Carol", "Caroline", "Carrie", "Casey", "Catherine", "Cathy", "Cecilia",
    "Chad", "Charles", "Charlie", "Charlotte", "Cheryl", "Chris", "Christian", "Christine", "Christopher", "Chuck",
    "Cindy", "Claire", "Clara", "Clarence", "Clark", "Claudia", "Clayton", "Cliff", "Cody", "Colleen",
    "Connie", "Connor", "Corey", "Courtney", "Craig", "Crystal", "Curtis", "Cynthia", "Daisy", "Dale",
    "Dan", "Dana", "Daniel", "Danielle", "Danny", "Darlene", "Darren", "Dave", "David", "Debbie",
    "Deborah", "Debra", "Denise", "Dennis", "Derek", "Diana", "Diane", "Dianne", "Don", "Donald",
    "Donna", "Doris", "Dorothy", "Doug", "Douglas", "Drew", "Dustin", "Dwayne", "Dylan", "Earl",
    "Ed", "Eddie", "Edith", "Edmund", "Edward", "Edwin", "Elaine", "Eleanor", "Elias", "Elijah",
    "Elisabeth", "Elizabeth", "Ella", "Ellen", "Elliott", "Ellis", "Emily", "Emma", "Eric", "Erica",
    "Erik", "Erin", "Ernest", "Ethan", "Eugene", "Evan", "Evelyn", "Faith", "Fannie", "Felicia",
    "Felix", "Fiona", "Florence", "Floyd", "Frances", "Frank", "Fred", "Frederick", "Gabriel", "Gail",
    "Garry", "Gary", "Gene", "Geoff", "George", "Georgia", "Gerald", "Gertrude", "Gilbert", "Gina",
    "Gladys", "Glenda", "Glenn", "Gloria", "Gordon", "Grace", "Grant", "Greg", "Gregory", "Gretchen",
    "Haley", "Hannah", "Harold", "Harry", "Heather", "Heidi", "Helen", "Henry", "Herbert", "Herman",
    "Hilary", "Holly", "Howard", "Hugh", "Ian", "Ingrid", "Irene", "Irvin", "Isabel", "Isabelle",
    "Isaac", "Isabella", "Isabella", "Jack", "Jackie", "Jackson", "Jacob", "Jacqueline", "Jaclyn", "Jacques",
    "Jake", "James", "Jamie", "Janet", "Janie", "Jason", "Jean", "Jeanette", "Jeff", "Jeffrey",
    "Jenna", "Jennifer", "Jenny", "Jeremy", "Jerry", "Jesse", "Jessica", "Jessie", "Jill", "Jim",
    "Jimmy", "Joan", "Joanna", "Joanne", "Joe", "Joel", "John", "Johnny", "Jon", "Jonathan",
    "Jordan", "Jose", "Joseph", "Josephine", "Josh", "Joshua", "Joyce", "Juan", "Judith", "Judy",
    "Julia", "Julian", "Julie", "June", "Justin", "Karen", "Karla", "Kate", "Kathleen", "Kathryn",
    "Katie", "Katrina", "Kay", "Keith", "Kelly", "Ken", "Kenneth", "Kevin", "Kim", "Kimberly",
    "Kirk", "Kristin", "Kristina", "Kristy", "Kyle", "Larry", "Laura", "Lauren", "Laurence", "Lawrence",
    "Leah", "Lee", "Leona", "Leonard", "Leslie", "Lester", "Lillian", "Linda", "Lindsay", "Lindsey",
    "Lisa", "Liz", "Lloyd", "Logan", "Lori", "Louis", "Louise", "Lucas", "Lucy", "Luis",
    "Luke", "Lydia", "Lyle", "Lynn", "Lynnette", "Mabel", "Mack", "Madeline", "Madison", "Maggie",
    "Malcolm", "Mandy", "Manuel", "Marc", "Marcus", "Margaret", "Maria", "Marian", "Marilyn", "Mark",
    "Marlene", "Marshall", "Martin", "Martha", "Marvin", "Mary", "Mathew", "Matthew", "Maureen", "Max",
    "Maxwell", "Megan", "Melanie", "Melinda", "Melissa", "Michael", "Michele", "Michelle", "Miguel", "Mike",
    "Mildred", "Mindy", "Miranda", "Mitchell", "Molly", "Monica", "Morris", "Nancy", "Natalie", "Natasha",
    "Nathan", "Nathaniel", "Neal", "Neil", "Nelson", "Nicholas", "Nick", "Nicole", "Nina", "Noah",
    "Noelle", "Norman", "Olivia", "Oscar", "Owen", "Pam", "Pamela", "Patricia", "Patrick", "Patsy",
    "Paul", "Paula", "Penny", "Peter", "Philip", "Phyllis", "Priscilla", "Quentin", "Rachel", "Ralph",
    "Randy", "Ray", "Raymond", "Rebecca", "Reginald", "Renee", "Rex", "Rhonda", "Ricardo", "Richard",
    "Rick", "Ricky", "Rita", "Robert", "Roberta", "Robin", "Roger", "Ron", "Ronald", "Rosa",
    "Rosalie", "Rose", "Rosemary", "Roy", "Ruben", "Ruby", "Russell", "Ruth", "Ryan", "Sabrina",
    "Sally", "Sam", "Samuel", "Sandra", "Sandy", "Sara", "Sarah", "Scott", "Sean", "Seth",
    "Shane", "Shannon", "Shari", "Sharon", "Shaun", "Shawn", "Sheila", "Shelley", "Shelly", "Sherry",
    "Shirley", "Sidney", "Simon", "Sonia", "Sonya", "Sophia", "Spencer", "Stacey", "Stacy", "Stanley",
    "Stefan", "Stephanie", "Stephen", "Steve", "Steven", "Stuart", "Sue", "Susan", "Susie", "Sylvia",
    "Tabitha", "Tammy", "Tanya", "Tara", "Tasha", "Tatiana", "Ted", "Teresa", "Terrance", "Terry",
    "Theodore", "Theresa", "Thomas", "Tim", "Timothy", "Todd", "Tom", "Tommy", "Tony", "Travis",
    "Trevor", "Trina", "Trisha", "Tyler", "Valerie", "Vanessa", "Vernon", "Victor", "Vincent", "Virginia",
    "Vivian", "Wade", "Walt", "Walter", "Warren", "Wayne", "Wendy", "Wesley", "William", "Willie",
    "Wilson", "Yolanda", "Yvonne", "Zachary", "Zach"]

In [4]:
len(names)

505

In [5]:
data['User'] = np.nan

## Do not run this function again since it will rerandom data

In [6]:
# Hàm để gán tên ngẫu nhiên từ danh sách
def fill_random_name(row):
    if pd.isna(row['User']):  # Kiểm tra nếu giá trị là NaN
        return random.choice(names)  # Chọn tên ngẫu nhiên từ danh sách
    else:
        return row['User']

# Áp dụng hàm để điền vào cột 'User'
data['User'] = data.apply(fill_random_name, axis=1)

In [7]:
data['Rating'] = np.nan

## Do not run this function again

In [8]:
# Hàm để điền giá trị ngẫu nhiên từ 0.0 đến 5.0
def fill_random_rating(row):
    if pd.isna(row['Rating']):  # Nếu giá trị là NaN
        return random.randint(0, 5)  # Chọn số ngẫu nhiên từ 0.0 đến 5.0, làm tròn đến 1 chữ số thập phân
    else:
        return row['Rating']

# Áp dụng hàm để điền vào cột 'Ratings'
data['Rating'] = data.apply(fill_random_rating, axis=1)

In [9]:
data.shape

(20507, 7)

In [10]:
data.tail(5)

,TransactionNo,Items,DateTime,Daypart,DayType,User,Rating
20502,9682,Coffee,2017-09-04 14:32:58,Afternoon,Weekend,Sylvia,1
20503,9682,Tea,2017-09-04 14:32:58,Afternoon,Weekend,Allison,1
20504,9683,Coffee,2017-09-04 14:57:06,Afternoon,Weekend,Rosemary,3
20505,9683,Pastry,2017-09-04 14:57:06,Afternoon,Weekend,Sue,4
20506,9684,Smoothies,2017-09-04 15:04:24,Afternoon,Weekend,Kyle,5

In [11]:
data.head(5)

,TransactionNo,Items,DateTime,Daypart,DayType,User,Rating
0,1,Bread,2016-10-30 09:58:11,Morning,Weekend,Rebecca,1
1,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Larry,3
2,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Mildred,5
3,3,Hot chocolate,2016-10-30 10:07:57,Morning,Weekend,Clark,0
4,3,Jam,2016-10-30 10:07:57,Morning,Weekend,James,4

In [12]:
data.head(5)

,TransactionNo,Items,DateTime,Daypart,DayType,User,Rating
0,1,Bread,2016-10-30 09:58:11,Morning,Weekend,Rebecca,1
1,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Larry,3
2,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Mildred,5
3,3,Hot chocolate,2016-10-30 10:07:57,Morning,Weekend,Clark,0
4,3,Jam,2016-10-30 10:07:57,Morning,Weekend,James,4

In [13]:
len(data.Items.unique())

94

In [14]:
list = data.Items.unique()

In [15]:
data.to_csv('data.csv', sep=',', index=False)