In [39]:
import pandas as pd

In [40]:

# Load Movies Metadata
metadata = pd.read_csv('C:/Users/trangdo/Documents/HocTap/Lab/Recommender_Python/recommender_systems_in_python/archive/movies_metadata.csv', low_memory=False)

print(metadata.head(3))
#Print plot overviews of the first 5 movies.
print(metadata['overview'].head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en

     original_title                                           overview  ...  \
0         Toy Story  Led by Woody, Andy's toys live happily in his ...  ...
1           Jumanji  When siblings Judy and Peter discover an encha...  ...
2  Grumpier Old Men  A family wedding reignites the ancient feud be...  ...

  release_date      revenue runtime  \
0   1995-10-30  373554033.0    81.0
1   1995-12-15  262797249.0   104.0
2   1995-12-22          0.0   101.0

                                    spoken_languages    status  \
0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
1  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                             tagline             title  video  \
0                                                NaN         Toy Story  False
1          Roll the dice and unleash the excitement!           Jumanji  False
2  Still Yelling. Still Fighting. Still Ready for...  Grumpier Old Men  False

  vote_average vote_count
0          7.7     5415.0
1          6.9     2413.0
2          6.5       92.0

[3 rows x 24 columns]
0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [41]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
metadata.shape

(45466, 24)

In [43]:
#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english') # xu ly van ban

#Replace NaN with an empty string
metadata['overview'] = metadata['overview'].fillna('') # voi nhung item k co overview thay the thanh ' '

#Construct the required TF-IDF matrix by fitting and transforming the data
# tao matrix moi da xu ly van ban overview
# row : document, column : feature
tfidf_matrix = tfidf.fit_transform(metadata['overview']) # ko hieu ham nay hoat dộng kieu gi

#Output the shape of tfidf_matrix
print("tfidf_matrix.shape : ", tfidf_matrix.shape)

#Array mapping from feature integer indices to feature name.
print(tfidf.get_feature_names_out()[5000:5010]) # Lay feature name từ index 5000 -> 5009

tfidf_matrix.shape :  (45466, 75827)
['avails' 'avaks' 'avalanche' 'avalanches' 'avallone' 'avalon' 'avant'
 'avanthika' 'avanti' 'avaracious']

In [44]:
print("metadata['overview'].shape : ", metadata['overview'].shape)
print(tfidf.get_feature_names_out()[3155:3165])

metadata['overview'].shape :  (45466,)
['andrée' 'andrés' 'andthe' 'andula' 'andy' 'andía' 'ane' 'anecdotal'
 'anecdote' 'anecdotes']

In [45]:
print(metadata['overview'][0])
print(tfidf_matrix[0])

Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
  (0, 17764)	0.13483149538639247
  (0, 4388)	0.1474882034218405
  (0, 38030)	0.10142919482788751
  (0, 21887)	0.10438761058719498
  (0, 19641)	0.13281884272823927
  (0, 48558)	0.10339358185033234
  (0, 59519)	0.13008016104455086
  (0, 12490)	0.12544427954397822
  (0, 51108)	0.13434817283119177
  (0, 29238)	0.10093917370354445
  (0, 50914)	0.09190797940163035
  (0, 39423)	0.11907123344715953
  (0, 1847)	0.140911774178889
  (0, 58571)	0.1135591886873686
  (0, 38693)	0.20627924682810617
  (0, 9874)	0.5028038686135609
  (0, 9087)	0.10635375129287977
  (0, 7491)	0.12380553184830104
  (0, 56872)	0.111248510865236
  (0, 28729)	0.13311522181618415
  (0, 39012)	0.08718689178959059
  (0, 67874)	0.14878284660693247
  (0, 3159)	0.41178365711725945
  (0, 73468)	0.4809827114790237
  (0, 38088)	0.10739705953465473

In [46]:
pd.DataFrame(metadata['overview'])

                                                overview
0      Led by Woody, Andy's toys live happily in his ...
1      When siblings Judy and Peter discover an encha...
2      A family wedding reignites the ancient feud be...
3      Cheated on, mistreated and stepped on, the wom...
4      Just when George Banks has recovered from his ...
...                                                  ...
45461        Rising and falling between a man and woman.
45462  An artist struggles to finish his work while a...
45463  When one of her hits goes wrong, a professiona...
45464  In a small town live two brothers, one a minis...
45465  50 years after decriminalisation of homosexual...

[45466 rows x 1 columns]

In [47]:
tf = pd.DataFrame(tfidf_matrix)
tf

                                                       0
0        (0, 17764)\t0.13483149538639247\n  (0, 4388)...
1        (0, 14988)\t0.15233435064749146\n  (0, 66484...
2        (0, 67150)\t0.09013326169468926\n  (0, 30668...
3        (0, 8909)\t0.2524772113861553\n  (0, 72417)\...
4        (0, 35872)\t0.18466136938635244\n  (0, 27260...
...                                                  ...
45461    (0, 56405)\t0.6771266635239638\n  (0, 22632)...
45462    (0, 63819)\t0.474848181921328\n  (0, 4251)\t...
45463    (0, 6761)\t0.3715972018149557\n  (0, 30135)\...
45464    (0, 20273)\t0.1677505411397102\n  (0, 15394)...
45465    (0, 16520)\t0.32373307886945113\n  (0, 7157)...

[45466 rows x 1 columns]

In [48]:
print("tfidf_matrix_1 : \n ", tfidf_matrix[:][1])

tfidf_matrix_1 :
    (0, 14988)	0.15233435064749146
  (0, 66484)	0.14663603807361472
  (0, 44008)	0.21120411735917297
  (0, 21928)	0.11581823179974537
  (0, 56115)	0.24391033514410979
  (0, 26327)	0.14635121510805393
  (0, 57298)	0.140307006797506
  (0, 56411)	0.19142579477068034
  (0, 52773)	0.15282587986574794
  (0, 23564)	0.16446724293324655
  (0, 24726)	0.14142889243827067
  (0, 30511)	0.1324838293546845
  (0, 39031)	0.10512419788407477
  (0, 74030)	0.08644041777153641
  (0, 593)	0.1907966228419227
  (0, 32643)	0.13125796666261996
  (0, 68121)	0.13716579287092048
  (0, 1678)	0.1504646559554162
  (0, 2262)	0.3301708473810977
  (0, 33164)	0.18900392160046467
  (0, 70124)	0.1663726092054478
  (0, 73531)	0.07978207858932576
  (0, 40220)	0.14821604585843537
  (0, 18919)	0.14384662547526483
  (0, 47769)	0.15436507008138664
  (0, 25498)	0.37109887873910524
  (0, 7963)	0.15233435064749146
  (0, 20907)	0.1901837949034981
  (0, 18119)	0.11584411501583824
  (0, 50220)	0.14038016204713533
  (0, 34633)	0.1907966228419227
  (0, 60735)	0.16820596223387843
  (0, 56872)	0.1352037236381358

In [49]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix) # tính similarity giữa các rows với nhau -> shape : row x row
print("cosine_sim.shape : ", cosine_sim.shape)

MemoryError: Unable to allocate 15.4 GiB for an array with shape (45466, 45466) and data type float64

In [ ]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

In [ ]:
# indices.shape
indices[:10]

In [ ]:
# Function that takes in movie title as input and outputs most similar movies
# cho title của một movie vào và cho ra top 10 movies giong nhat
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx])) # tinh similarity theo cap

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) # sort sim_scores

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11] # lay 10 movies co similarity cao nhat

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [ ]:
get_recommendations('The Dark Knight Rises')

In [ ]:
# Credits, Genres, and Keywords Based Recommender

In [ ]:
metadata.shape
metadata[19727:19731]
metadata[29500:29505]
# metadata[35587]

In [ ]:
# Load keywords and credits
credits = pd.read_csv('C:/Users/trangdo/Documents/HocTap/Lab/Recommender_Python/recommender_systems_in_python/archive/credits.csv')
keywords = pd.read_csv('C:/Users/trangdo/Documents/HocTap/Lab/Recommender_Python/recommender_systems_in_python/archive/keywords.csv')

# Remove rows with bad IDs.
metadata = metadata.drop([19730, 29503, 35587]) # loai bo ID sai, chon thu cong

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [ ]:
metadata.head(2)

In [ ]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval # literal_over dung de phan tich danh gia cac chuoi Python an toan

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval) # chuyen doi tu text -> python objects

In [ ]:
import numpy as np

In [ ]:
# lay ten dao dien
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [ ]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [ ]:
# Define new director, cast, genres and keywords features that are in a suitable form.
metadata['director'] = metadata['crew'].apply(get_director) # them cot ten dao dien

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list) # them cot voi 3 phan tu dao tien trong list

In [ ]:
# Print the new features of the first 3 films
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

In [ ]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [ ]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [ ]:
metadata.shape

In [ ]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [ ]:
# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1) # mot feature gom mot chuoi chu viet thuong da dc xu ly boi ham clean_data & create_soup

In [ ]:
metadata[['soup']].head(2)

In [ ]:
metadata[['soup']].shape

In [ ]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup']) # khac gi vơi tfidf o tren ??
# fit : tim hieu von tu vung trong van ban
# transform : chuyen thanh ma tran so the hien tan suat xuat hien cua mot tu cu the

In [ ]:
count_matrix.shape # tai sao lai ra duoc shape nay

In [ ]:
count_matrix

In [ ]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [ ]:
# Reset index of your main DataFrame and construct reverse mapping as before
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title'])

In [ ]:
get_recommendations('The Dark Knight Rises', cosine_sim2)